.container {
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #8B4513;
    /* saddlebrown */
    padding: 20px;
    background-color: #F5F5DC;
    /* beige */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8B4513;
    /* saddlebrown */
}

button {
    padding: 10px;
    background-color: #8B4513;
    /* saddlebrown */
    color: #F5F5DC;
    /* beige */
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #D2B48C;
    /* tan */
    cursor: not-allowed;
}

p {
    margin-top: 20px;
    font-weight: bold;
    color: #8B4513;
    /* saddlebrown */
}